<h1 class="page-header">正在热映</h1>
<!-- 当message有值得时候才显示，message:请求失败的信息 -->
<h2 ng-if="message">{{message}}</h2>
<div class="list-group">
  <a ng-repeat="item in subjects" href="#" class="list-group-item">
    <span class="badge">{{item.rating.average}}</span>
    <div class="media">
      <div class="media-left">
        <!-- 这儿要用ng-src绑定，不然报错 -->
        <img ng-src="{{item.images.small}}" alt="item.title">      
      </div>
      <div class="media-body">
        <h3 class="media-heading">{{item.title}}</h3>
        <!-- 导演有可能不是一个，但这里先当做一个 -->
        <!-- 多个导演的话就遍历一下 -->
        <!-- <p>导演：<span>{{item.directors[0].name}}</span></p> -->
        <p>导演：
          <span ng-repeat="d in item.directors">
            {{d.name}}
            <!-- 最后一个点要去掉、号 -->
            <i ng-if="!$last">、</i>
          </span>
        </p>
        <!-- toString，把数组变成字符串，逗号分割 -->
        <!-- 逗号不合适，就把数组转成字符串，用、分隔 。字符串才能join哦。-->
        <p>类型：<span>{{item.genres.join('、')}}</span></p>
      </div>
    </div>
  </a>
</div>
