<h1 class="page-header">{{dataTitle}}</h1>
<!-- 当message有值得时候才显示，message:请求失败的信息 -->
<h2 ng-if="message">{{message}}</h2>
<div class="list-group">
  <!-- 在这儿加上锚点地址 -->
  <a ng-repeat="item in subjects " href="#/detail/{{item.id}}" class="list-group-item">
    <span class="badge">{{item.rating.average}}</span>
    <div class="media">
      <div class="media-left">
        <!-- 这儿要用ng-src绑定，不然报错 -->
        <img ng-src="{{item.images.small}}" alt="item.title" height="110">      
      </div>
      <div class="media-body">
        <h3 class="media-heading">{{item.title}}</h3>
        <!-- 导演有可能不是一个，但这里先当做一个 -->
        <!-- 多个导演的话就遍历一下 -->
        <!-- <p>导演：<span>{{item.directors[0].name}}</span></p> -->
        <p>导演：
          <span ng-repeat="d in item.directors">
            <!-- 或者这样，用三目，但是要加括号哦,不然会先被加进去 -->
            {{d.name + ($last?'':'、')}}
            <!-- {{d.name}} -->
            <!-- 最后一个点要去掉、号 -->
            <!-- <i ng-if="!$last">、</i> -->
          </span>
        </p>
        <!-- toString，把数组变成字符串，逗号分割 -->
        <!-- 逗号不合适，就把数组转成字符串，用、分隔 。字符串才能join哦。-->
        <p>类型：<span>{{item.genres.join('、')}}</span></p>
        <p>主演：<span ng-repeat="cast in item.casts">{{cast.name}}{{$last?'':'、'}}</span></p>
      </div>
    </div>
  </a>
</div>
<div class="mask" ng-show="loading">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<div ng-show="!loading">
  <p >共：{{total}}条记录,第{{page}}/{{totalPages}}页</p>
<nav>
  <ul class="pager">
    <!-- 页面小于0的时候禁止点 -->
    <li ng-class="{disabled:page<=1}"><a ng-click="goPage(page - 1)">上一页</a></li>
    <li ng-class="{disabled:page>=totalPages}"><a ng-click="goPage(page + 1)">下一页</a></li>
  </ul>
</nav>
</div>
